html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url(../images/manager.jpg) no-repeat;
	background-size : 100% 100%;
}
.brand img{
	width: 100%;
}
.btn-default{
	background: #91c46c;
	width: 258px;
	color: #fff;
}
.btn-default:hover{

}
body.login .wrapper{
	background: rgba(255,255,255,0.4);
}