<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		<!--配置 Struts2 的 Filter-->
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>web.ActionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>web.UserServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>CheckCoke</servlet-name>
    <servlet-class>web.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InterestInput</servlet-name>
  	<servlet-class>web.InterestinputServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personalInfo</servlet-name>
  	<servlet-class>web.PersonalInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pwdChange</servlet-name>
  	<servlet-class>web.PwdChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>infoChange</servlet-name>
  	<servlet-class>web.InfoChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>infoChangeSucc</servlet-name>
  	<servlet-class>web.InfoChangeSucc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>publicWork</servlet-name>
  	<servlet-class>web.work.Pubworklist</servlet-class>
  </servlet>
 <servlet>
 	<servlet-name>UserCollect</servlet-name>
 	<servlet-class>web.user.UserCollect</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UserDownload</servlet-name>
 	<servlet-class>web.user.UserDownload</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UserLook</servlet-name>
 	<servlet-class>web.user.UserLook</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UserFoot</servlet-name>
 	<servlet-class>web.user.UserFoot</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UserGroup</servlet-name>
 	<servlet-class>web.user.UserGroup</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>listAllWork</servlet-name>
 	<servlet-class>web.work.Allworklist</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>OneWork</servlet-name>
 	<servlet-class>web.work.Oneworklist</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>addUserFollow</servlet-name>
 	<servlet-class>web.user.UserAddFollow</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>loadFile</servlet-name>
 	<servlet-class>web.work.Loadfile</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>test</servlet-name>
 	<servlet-class>test.Test1</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UPFILE</servlet-name>
 	<servlet-class>test.Test2</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>Question</servlet-name>
 	<servlet-class>web.wenda.Question</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>Teach</servlet-name>
 	<servlet-class>web.teach.AllTeach</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>Info</servlet-name>
 	<servlet-class>web.user.UserInfo</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GroupDetail</servlet-name>
 	<servlet-class>web.group.GroupDetail</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>OneTeach</servlet-name>
 	<servlet-class>web.teach.OneTeach</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UserMessage</servlet-name>
 	<servlet-class>web.user.UserMessage</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>WclassWork</servlet-name>
 	<servlet-class>web.work.WclassWork</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GroupMember</servlet-name>
 	<servlet-class>web.group.GroupMember</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GroupGreate</servlet-name>
 	<servlet-class>web.group.GroupCreate</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>teachView</servlet-name>
 	<servlet-class>web.teach.ViewTeach</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>Manager</servlet-name>
 	<servlet-class>web.manager.ManagerServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>loadTeach</servlet-name>
 	<servlet-class>web.work.LoadTeach</servlet-class>
 </servlet>
 
 
 <servlet>
 	<servlet-name>Test3</servlet-name>
 	<servlet-class>test.Test3</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Test3</servlet-name>
 	<url-pattern>/upload</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>setUser</servlet-name>
 	<servlet-class>test.Test4</servlet-class>
 </servlet>
<servlet>
	<servlet-name>PicSearchServlet</servlet-name>
	<servlet-class>web.pic.PicSearchServlet</servlet-class>
</servlet>

 <servlet-mapping>
 	<servlet-name>setUser</servlet-name>
 	<url-pattern>/setuser</url-pattern>
 </servlet-mapping>
 
 
 
 <servlet-mapping>
 	<servlet-name>loadTeach</servlet-name>
 	<url-pattern>/loadteach</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Manager</servlet-name>
 	<url-pattern>*.manager</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>teachView</servlet-name>
 	<url-pattern>*.teachView</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GroupGreate</servlet-name>
 	<url-pattern>*.groupCreate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GroupMember</servlet-name>
 	<url-pattern>*.member</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>WclassWork</servlet-name>
 	<url-pattern>/wclassWork</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UserMessage</servlet-name>
 	<url-pattern>*.message</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>OneTeach</servlet-name>
 	<url-pattern>*.oneTeach</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GroupDetail</servlet-name>
 	<url-pattern>*.groupDetail</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Info</servlet-name>
 	<url-pattern>/userinfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Teach</servlet-name>
 	<url-pattern>*.allteach</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Question</servlet-name>
 	<url-pattern>*.question</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UPFILE</servlet-name>
 	<url-pattern>/upfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>test</servlet-name>
 	<url-pattern>/test</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>loadFile</servlet-name>
 	<url-pattern>/loadfile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>addUserFollow</servlet-name>
 	<url-pattern>/adduserfoot</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>OneWork</servlet-name>
 	<url-pattern>*.onework</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>listAllWork</servlet-name>
 	<url-pattern>*.allwork</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UserGroup</servlet-name>
 	<url-pattern>/usergroup</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UserFoot</servlet-name>
 	<url-pattern>/userfoot</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UserLook</servlet-name>
 	<url-pattern>/userlook</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
 	<servlet-name>UserDownload</servlet-name>
 	<url-pattern>/userdownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 	<servlet-name>UserCollect</servlet-name>
 	<url-pattern>/usercollect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>publicWork</servlet-name>
	<url-pattern>*.work</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>infoChangeSucc</servlet-name>
  	<url-pattern>/InfoChangeSucc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>infoChange</servlet-name>
  	<url-pattern>/InfoChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pwdChange</servlet-name>
  	<url-pattern>/PwdChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personalInfo</servlet-name>
  	<url-pattern>/personalInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InterestInput</servlet-name>
  	<url-pattern>/interesinput</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>*.go</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CheckCoke</servlet-name>
    <url-pattern>/checkcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicSearchServlet</servlet-name>
    <url-pattern>/PicSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>
